useDynLib(ProFit)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import("fftw")
import("FITSio")
import("LaplacesDemon")
import("magicaxis")
import("data.table")
import("celestial")
import("stats")
import("graphics")
import("grDevices")

importFrom("utils", "relist")
importFrom("RColorBrewer", "brewer.pal")
importFrom("R2Cuba", "cuhre")
