useDynLib(ProFit)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import("fftw")
import("FITSio")
import("gmp")
import("LaplacesDemon")
import("magicaxis")
import("RColorBrewer")
import("R2Cuba")