useDynLib(ProFit)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import("fftw")
import("FITSio")
import("LaplacesDemon")
import("magicaxis")

importFrom("grDevices", "colorRampPalette", "heat.colors", "hsv", "rainbow")
importFrom("graphics", "abline", "axis", "box", "contour", "hist",
             "layout", "legend", "lines", "par", "plot", "polygon")
importFrom("stats", "approx", "dchisq", "dnorm", "dpois", "dt", "fft",
             "median", "predict", "qgamma", "residuals", "rnorm",
             "smooth.spline", "var", "integrate", "density", "pnorm", "quantile", "sd",
           "optimise", "optim", "qnorm")
importFrom("utils", "relist")
#importFrom("dbscan", "dbscan")
importFrom("RColorBrewer", "brewer.pal")
importFrom("R2Cuba", "cuhre")